@model PharmAssistent.Models.InventoryModel.Manufacturer

@{
    ViewBag.Title = "Detail";
}

<div class="panel-body" style="">
    <div class="col-md-4">
        <div class="row alert">
            <div class="col-md-4 " style="padding-left:0px"><h2 style="color:#555299;font-family: inherit;"><strong>Manufacturer</strong></h2></div>
        </div>

        <div class="box box-info" style="margin-top:80px ;margin-left: 480px;">
            <div class="box-header">

                <div class="box-body">

                    <div>
                        <h4>Manufacturer</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ManufacturerName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ManufacturerName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>