@model IEnumerable<PharmAssistent.Models.InventoryModel.Item>



<div class="panel-body" style="">
    <div class="col-md-12">
        <div class="row alert">
            <div class="col-md-4 " style="padding-left:0px"><h2 style="color:#555299;;font-family: inherit;"><strong>Drugs</strong>List</h2></div>
        </div>

        <div class="box box-info" style="margin-top:0px;">
            <div class="box-header">
                <div class="box-body">

                    <table class="table table-striped" id="dtaTable">
                        <thead class="dataTableHead">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DrugGenericName.GenericName)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.DrugGenericNameID)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Categeory)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AlertQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastUpdated)
                                </th>
                                <th></th>
                            </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DrugGenericName.GenericName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categeory)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AlertQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastUpdated)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                                    </td>
                                </tr>
                            }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dtaTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>
<style>
    tr:nth-child(even)
    {
       background:#E9E9E9;
     }

    tr:nth-child(even):hover
    {
       background:#F2E5DE;
     }

</style>